<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.zxm.mapper.CurNOModelDAO" >
  <resultMap id="BaseResultMap" type="com.ds.zxm.model.CurNOModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lottery_code" property="lotteryCode" jdbcType="VARCHAR" />
    <result column="cur_no" property="curNo" jdbcType="VARCHAR" />
    <result column="next_no" property="nextNo" jdbcType="VARCHAR" />
    <result column="next_sec" property="nextSec" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lottery_code, cur_no, next_no, next_sec
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ds.zxm.model.CurNOModelCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cur_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cur_no
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cur_no
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.ds.zxm.model.CurNOModelCondition" >
    delete from t_cur_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ds.zxm.model.CurNOModel" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_cur_no (lottery_code, cur_no, next_no, 
      next_sec)
    values (#{lotteryCode,jdbcType=VARCHAR}, #{curNo,jdbcType=VARCHAR}, #{nextNo,jdbcType=VARCHAR}, 
      #{nextSec,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ds.zxm.model.CurNOModel" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_cur_no
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        lottery_code,
      </if>
      <if test="curNo != null" >
        cur_no,
      </if>
      <if test="nextNo != null" >
        next_no,
      </if>
      <if test="nextSec != null" >
        next_sec,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="curNo != null" >
        #{curNo,jdbcType=VARCHAR},
      </if>
      <if test="nextNo != null" >
        #{nextNo,jdbcType=VARCHAR},
      </if>
      <if test="nextSec != null" >
        #{nextSec,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.ds.zxm.model.CurNOModelCondition" resultType="java.lang.Integer" >
    select count(*) from t_cur_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_cur_no
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryCode != null" >
        lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.curNo != null" >
        cur_no = #{record.curNo,jdbcType=VARCHAR},
      </if>
      <if test="record.nextNo != null" >
        next_no = #{record.nextNo,jdbcType=VARCHAR},
      </if>
      <if test="record.nextSec != null" >
        next_sec = #{record.nextSec,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_cur_no
    set id = #{record.id,jdbcType=BIGINT},
      lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      cur_no = #{record.curNo,jdbcType=VARCHAR},
      next_no = #{record.nextNo,jdbcType=VARCHAR},
      next_sec = #{record.nextSec,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ds.zxm.model.CurNOModel" >
    update t_cur_no
    <set >
      <if test="lotteryCode != null" >
        lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="curNo != null" >
        cur_no = #{curNo,jdbcType=VARCHAR},
      </if>
      <if test="nextNo != null" >
        next_no = #{nextNo,jdbcType=VARCHAR},
      </if>
      <if test="nextSec != null" >
        next_sec = #{nextSec,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ds.zxm.model.CurNOModel" >
    update t_cur_no
    set lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      cur_no = #{curNo,jdbcType=VARCHAR},
      next_no = #{nextNo,jdbcType=VARCHAR},
      next_sec = #{nextSec,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>