<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.zxm.mapper.LotteryMapper">
 
  <select id="findLotteryInfo" resultType="com.ds.zxm.model.Lottery">
    	select lottery_code lotteryCode, lottery_name lotteryName,creator, modifier from t_lottery;
  </select>
 
</mapper>