<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.zxm.mapper.ScheduleDAO" >
  <resultMap id="BaseResultMap" type="com.ds.zxm.model.ScheduleDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lottery_code" property="lotteryCode" jdbcType="VARCHAR" />
    <result column="gen_id" property="genId" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="win_no" property="winNo" jdbcType="VARCHAR" />
    <result column="lose_no" property="loseNo" jdbcType="VARCHAR" />
    <result column="multiple" property="multiple" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lottery_code, gen_id, no, win_no, lose_no, multiple
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ds.zxm.model.ScheduleDOCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_schedule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_schedule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.ds.zxm.model.ScheduleDOCondition" >
    delete from t_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ds.zxm.model.ScheduleDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_schedule (lottery_code, gen_id, no, 
      win_no, lose_no, multiple
      )
    values (#{lotteryCode,jdbcType=VARCHAR}, #{genId,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, 
      #{winNo,jdbcType=VARCHAR}, #{loseNo,jdbcType=VARCHAR}, #{multiple,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ds.zxm.model.ScheduleDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        lottery_code,
      </if>
      <if test="genId != null" >
        gen_id,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="winNo != null" >
        win_no,
      </if>
      <if test="loseNo != null" >
        lose_no,
      </if>
      <if test="multiple != null" >
        multiple,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="genId != null" >
        #{genId,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="winNo != null" >
        #{winNo,jdbcType=VARCHAR},
      </if>
      <if test="loseNo != null" >
        #{loseNo,jdbcType=VARCHAR},
      </if>
      <if test="multiple != null" >
        #{multiple,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.ds.zxm.model.ScheduleDOCondition" resultType="java.lang.Integer" >
    select count(*) from t_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_schedule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryCode != null" >
        lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.genId != null" >
        gen_id = #{record.genId,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null" >
        no = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.winNo != null" >
        win_no = #{record.winNo,jdbcType=VARCHAR},
      </if>
      <if test="record.loseNo != null" >
        lose_no = #{record.loseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.multiple != null" >
        multiple = #{record.multiple,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_schedule
    set id = #{record.id,jdbcType=BIGINT},
      lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      gen_id = #{record.genId,jdbcType=VARCHAR},
      no = #{record.no,jdbcType=VARCHAR},
      win_no = #{record.winNo,jdbcType=VARCHAR},
      lose_no = #{record.loseNo,jdbcType=VARCHAR},
      multiple = #{record.multiple,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ds.zxm.model.ScheduleDO" >
    update t_schedule
    <set >
      <if test="lotteryCode != null" >
        lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="genId != null" >
        gen_id = #{genId,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="winNo != null" >
        win_no = #{winNo,jdbcType=VARCHAR},
      </if>
      <if test="loseNo != null" >
        lose_no = #{loseNo,jdbcType=VARCHAR},
      </if>
      <if test="multiple != null" >
        multiple = #{multiple,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ds.zxm.model.ScheduleDO" >
    update t_schedule
    set lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      gen_id = #{genId,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      win_no = #{winNo,jdbcType=VARCHAR},
      lose_no = #{loseNo,jdbcType=VARCHAR},
      multiple = #{multiple,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>