<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.zxm.mapper.StrategyDAO" >
  <resultMap id="BaseResultMap" type="com.ds.zxm.model.StrategyDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lottery_code" property="lotteryCode" jdbcType="VARCHAR" />
    <result column="start_no" property="startNo" jdbcType="VARCHAR" />
    <result column="end_no" property="endNo" jdbcType="VARCHAR" />
    <result column="total_amt" property="totalAmt" jdbcType="DECIMAL" />
    <result column="cur_profit" property="curProfit" jdbcType="DECIMAL" />
    <result column="max_profit" property="maxProfit" jdbcType="DECIMAL" />
    <result column="min_profit" property="minProfit" jdbcType="DECIMAL" />
    <result column="seq_no" property="seqNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lottery_code, start_no, end_no, total_amt, cur_profit, max_profit, min_profit, 
    seq_no
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ds.zxm.model.StrategyDOCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_strategy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_strategy
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_strategy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.ds.zxm.model.StrategyDOCondition" >
    delete from t_strategy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ds.zxm.model.StrategyDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_strategy (lottery_code, start_no, end_no, 
      total_amt, cur_profit, max_profit, 
      min_profit, seq_no)
    values (#{lotteryCode,jdbcType=VARCHAR}, #{startNo,jdbcType=VARCHAR}, #{endNo,jdbcType=VARCHAR}, 
      #{totalAmt,jdbcType=DECIMAL}, #{curProfit,jdbcType=DECIMAL}, #{maxProfit,jdbcType=DECIMAL}, 
      #{minProfit,jdbcType=DECIMAL}, #{seqNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ds.zxm.model.StrategyDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_strategy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        lottery_code,
      </if>
      <if test="startNo != null" >
        start_no,
      </if>
      <if test="endNo != null" >
        end_no,
      </if>
      <if test="totalAmt != null" >
        total_amt,
      </if>
      <if test="curProfit != null" >
        cur_profit,
      </if>
      <if test="maxProfit != null" >
        max_profit,
      </if>
      <if test="minProfit != null" >
        min_profit,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="startNo != null" >
        #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmt != null" >
        #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="curProfit != null" >
        #{curProfit,jdbcType=DECIMAL},
      </if>
      <if test="maxProfit != null" >
        #{maxProfit,jdbcType=DECIMAL},
      </if>
      <if test="minProfit != null" >
        #{minProfit,jdbcType=DECIMAL},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.ds.zxm.model.StrategyDOCondition" resultType="java.lang.Integer" >
    select count(*) from t_strategy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_strategy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryCode != null" >
        lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.startNo != null" >
        start_no = #{record.startNo,jdbcType=VARCHAR},
      </if>
      <if test="record.endNo != null" >
        end_no = #{record.endNo,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmt != null" >
        total_amt = #{record.totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.curProfit != null" >
        cur_profit = #{record.curProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.maxProfit != null" >
        max_profit = #{record.maxProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.minProfit != null" >
        min_profit = #{record.minProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.seqNo != null" >
        seq_no = #{record.seqNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_strategy
    set id = #{record.id,jdbcType=BIGINT},
      lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      start_no = #{record.startNo,jdbcType=VARCHAR},
      end_no = #{record.endNo,jdbcType=VARCHAR},
      total_amt = #{record.totalAmt,jdbcType=DECIMAL},
      cur_profit = #{record.curProfit,jdbcType=DECIMAL},
      max_profit = #{record.maxProfit,jdbcType=DECIMAL},
      min_profit = #{record.minProfit,jdbcType=DECIMAL},
      seq_no = #{record.seqNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ds.zxm.model.StrategyDO" >
    update t_strategy
    <set >
      <if test="lotteryCode != null" >
        lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="startNo != null" >
        start_no = #{startNo,jdbcType=VARCHAR},
      </if>
      <if test="endNo != null" >
        end_no = #{endNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmt != null" >
        total_amt = #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="curProfit != null" >
        cur_profit = #{curProfit,jdbcType=DECIMAL},
      </if>
      <if test="maxProfit != null" >
        max_profit = #{maxProfit,jdbcType=DECIMAL},
      </if>
      <if test="minProfit != null" >
        min_profit = #{minProfit,jdbcType=DECIMAL},
      </if>
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ds.zxm.model.StrategyDO" >
    update t_strategy
    set lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      start_no = #{startNo,jdbcType=VARCHAR},
      end_no = #{endNo,jdbcType=VARCHAR},
      total_amt = #{totalAmt,jdbcType=DECIMAL},
      cur_profit = #{curProfit,jdbcType=DECIMAL},
      max_profit = #{maxProfit,jdbcType=DECIMAL},
      min_profit = #{minProfit,jdbcType=DECIMAL},
      seq_no = #{seqNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>