<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssc.mapper.TCFFCPRIZEDAO" >
  <resultMap id="BaseResultMap" type="com.ssc.model.TCFFCPRIZE" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lottery_code" property="lotteryCode" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="prize" property="prize" jdbcType="VARCHAR" />
    <result column="wan" property="wan" jdbcType="VARCHAR" />
    <result column="qian" property="qian" jdbcType="VARCHAR" />
    <result column="bai" property="bai" jdbcType="VARCHAR" />
    <result column="shi" property="shi" jdbcType="VARCHAR" />
    <result column="ge" property="ge" jdbcType="VARCHAR" />
    <result column="online_num" property="onlineNum" jdbcType="INTEGER" />
    <result column="adjust_num" property="adjustNum" jdbcType="INTEGER" />
    <result column="alias_no" property="aliasNo" jdbcType="VARCHAR" />
    <result column="lottery_date" property="lotteryDate" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lottery_code, no, prize, wan, qian, bai, shi, ge, online_num, adjust_num, alias_no, 
    lottery_date, type, time
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ssc.model.TCFFCPRIZECondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_tcffc_prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_tcffc_prize
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_tcffc_prize
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.ssc.model.TCFFCPRIZECondition" >
    delete from t_tcffc_prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertBatch" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_tcffc_prize (lottery_code, no, prize,
    wan, qian, bai, shi,
    ge, online_num, adjust_num,
    alias_no, lottery_date, time,type
    )
    values
    <foreach collection ="list" item="item" index= "index" separator =",">

      (#{item.lotteryCode,jdbcType=VARCHAR}, #{item.no,jdbcType=VARCHAR}, #{item.prize,jdbcType=VARCHAR},
      #{item.wan,jdbcType=INTEGER}, #{item.qian,jdbcType=INTEGER}, #{item.bai,jdbcType=INTEGER}, #{item.shi,jdbcType=INTEGER},
      #{item.ge,jdbcType=INTEGER}, #{item.onlineNum,jdbcType=INTEGER}, #{item.adjustNum,jdbcType=INTEGER},
      #{item.aliasNo,jdbcType=VARCHAR}, #{item.lotteryDate,jdbcType=DATE}, #{item.time,jdbcType=TIMESTAMP}, #{item.type,jdbcType=VARCHAR}
      )
    </foreach >
  </insert>
  <insert id="insert" parameterType="com.ssc.model.TCFFCPRIZE" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_tcffc_prize (lottery_code, no, prize, 
      wan, qian, bai, shi, 
      ge, online_num, adjust_num, 
      alias_no, lottery_date, type, 
      time)
    values (#{lotteryCode,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{prize,jdbcType=VARCHAR}, 
      #{wan,jdbcType=VARCHAR}, #{qian,jdbcType=VARCHAR}, #{bai,jdbcType=VARCHAR}, #{shi,jdbcType=VARCHAR}, 
      #{ge,jdbcType=VARCHAR}, #{onlineNum,jdbcType=INTEGER}, #{adjustNum,jdbcType=INTEGER}, 
      #{aliasNo,jdbcType=VARCHAR}, #{lotteryDate,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ssc.model.TCFFCPRIZE" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_tcffc_prize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        lottery_code,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="prize != null" >
        prize,
      </if>
      <if test="wan != null" >
        wan,
      </if>
      <if test="qian != null" >
        qian,
      </if>
      <if test="bai != null" >
        bai,
      </if>
      <if test="shi != null" >
        shi,
      </if>
      <if test="ge != null" >
        ge,
      </if>
      <if test="onlineNum != null" >
        online_num,
      </if>
      <if test="adjustNum != null" >
        adjust_num,
      </if>
      <if test="aliasNo != null" >
        alias_no,
      </if>
      <if test="lotteryDate != null" >
        lottery_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryCode != null" >
        #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="prize != null" >
        #{prize,jdbcType=VARCHAR},
      </if>
      <if test="wan != null" >
        #{wan,jdbcType=VARCHAR},
      </if>
      <if test="qian != null" >
        #{qian,jdbcType=VARCHAR},
      </if>
      <if test="bai != null" >
        #{bai,jdbcType=VARCHAR},
      </if>
      <if test="shi != null" >
        #{shi,jdbcType=VARCHAR},
      </if>
      <if test="ge != null" >
        #{ge,jdbcType=VARCHAR},
      </if>
      <if test="onlineNum != null" >
        #{onlineNum,jdbcType=INTEGER},
      </if>
      <if test="adjustNum != null" >
        #{adjustNum,jdbcType=INTEGER},
      </if>
      <if test="aliasNo != null" >
        #{aliasNo,jdbcType=VARCHAR},
      </if>
      <if test="lotteryDate != null" >
        #{lotteryDate,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.ssc.model.TCFFCPRIZECondition" resultType="java.lang.Integer" >
    select count(*) from t_tcffc_prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_tcffc_prize
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryCode != null" >
        lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null" >
        no = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.prize != null" >
        prize = #{record.prize,jdbcType=VARCHAR},
      </if>
      <if test="record.wan != null" >
        wan = #{record.wan,jdbcType=VARCHAR},
      </if>
      <if test="record.qian != null" >
        qian = #{record.qian,jdbcType=VARCHAR},
      </if>
      <if test="record.bai != null" >
        bai = #{record.bai,jdbcType=VARCHAR},
      </if>
      <if test="record.shi != null" >
        shi = #{record.shi,jdbcType=VARCHAR},
      </if>
      <if test="record.ge != null" >
        ge = #{record.ge,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineNum != null" >
        online_num = #{record.onlineNum,jdbcType=INTEGER},
      </if>
      <if test="record.adjustNum != null" >
        adjust_num = #{record.adjustNum,jdbcType=INTEGER},
      </if>
      <if test="record.aliasNo != null" >
        alias_no = #{record.aliasNo,jdbcType=VARCHAR},
      </if>
      <if test="record.lotteryDate != null" >
        lottery_date = #{record.lotteryDate,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_tcffc_prize
    set id = #{record.id,jdbcType=BIGINT},
      lottery_code = #{record.lotteryCode,jdbcType=VARCHAR},
      no = #{record.no,jdbcType=VARCHAR},
      prize = #{record.prize,jdbcType=VARCHAR},
      wan = #{record.wan,jdbcType=VARCHAR},
      qian = #{record.qian,jdbcType=VARCHAR},
      bai = #{record.bai,jdbcType=VARCHAR},
      shi = #{record.shi,jdbcType=VARCHAR},
      ge = #{record.ge,jdbcType=VARCHAR},
      online_num = #{record.onlineNum,jdbcType=INTEGER},
      adjust_num = #{record.adjustNum,jdbcType=INTEGER},
      alias_no = #{record.aliasNo,jdbcType=VARCHAR},
      lottery_date = #{record.lotteryDate,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssc.model.TCFFCPRIZE" >
    update t_tcffc_prize
    <set >
      <if test="lotteryCode != null" >
        lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="prize != null" >
        prize = #{prize,jdbcType=VARCHAR},
      </if>
      <if test="wan != null" >
        wan = #{wan,jdbcType=VARCHAR},
      </if>
      <if test="qian != null" >
        qian = #{qian,jdbcType=VARCHAR},
      </if>
      <if test="bai != null" >
        bai = #{bai,jdbcType=VARCHAR},
      </if>
      <if test="shi != null" >
        shi = #{shi,jdbcType=VARCHAR},
      </if>
      <if test="ge != null" >
        ge = #{ge,jdbcType=VARCHAR},
      </if>
      <if test="onlineNum != null" >
        online_num = #{onlineNum,jdbcType=INTEGER},
      </if>
      <if test="adjustNum != null" >
        adjust_num = #{adjustNum,jdbcType=INTEGER},
      </if>
      <if test="aliasNo != null" >
        alias_no = #{aliasNo,jdbcType=VARCHAR},
      </if>
      <if test="lotteryDate != null" >
        lottery_date = #{lotteryDate,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssc.model.TCFFCPRIZE" >
    update t_tcffc_prize
    set lottery_code = #{lotteryCode,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      prize = #{prize,jdbcType=VARCHAR},
      wan = #{wan,jdbcType=VARCHAR},
      qian = #{qian,jdbcType=VARCHAR},
      bai = #{bai,jdbcType=VARCHAR},
      shi = #{shi,jdbcType=VARCHAR},
      ge = #{ge,jdbcType=VARCHAR},
      online_num = #{onlineNum,jdbcType=INTEGER},
      adjust_num = #{adjustNum,jdbcType=INTEGER},
      alias_no = #{aliasNo,jdbcType=VARCHAR},
      lottery_date = #{lotteryDate,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>