<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.zxm.mapper.TecentOnlineDAO" >
  <resultMap id="BaseResultMap" type="com.ds.zxm.model.TecentOnlineDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="online_num" property="onlineNum" jdbcType="BIGINT" />
    <result column="adjust_num" property="adjustNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, time, online_num, adjust_num
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ds.zxm.model.TecentOnlineDOCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_tecent_online
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_tecent_online
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_tecent_online
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.ds.zxm.model.TecentOnlineDOCondition" >
    delete from t_tecent_online
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ds.zxm.model.TecentOnlineDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_tecent_online (time, online_num, adjust_num
      )
    values (#{time,jdbcType=VARCHAR}, #{onlineNum,jdbcType=BIGINT}, #{adjustNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertBatch">
    replace into t_tecent_online (time, online_num, adjust_num
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.time,jdbcType=VARCHAR}, #{item.onlineNum,jdbcType=BIGINT}, #{item.adjustNum,jdbcType=VARCHAR}
      )

    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.ds.zxm.model.TecentOnlineDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_tecent_online
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        time,
      </if>
      <if test="onlineNum != null" >
        online_num,
      </if>
      <if test="adjustNum != null" >
        adjust_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="onlineNum != null" >
        #{onlineNum,jdbcType=BIGINT},
      </if>
      <if test="adjustNum != null" >
        #{adjustNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.ds.zxm.model.TecentOnlineDOCondition" resultType="java.lang.Integer" >
    select count(*) from t_tecent_online
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_tecent_online
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineNum != null" >
        online_num = #{record.onlineNum,jdbcType=BIGINT},
      </if>
      <if test="record.adjustNum != null" >
        adjust_num = #{record.adjustNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_tecent_online
    set id = #{record.id,jdbcType=BIGINT},
      time = #{record.time,jdbcType=VARCHAR},
      online_num = #{record.onlineNum,jdbcType=BIGINT},
      adjust_num = #{record.adjustNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ds.zxm.model.TecentOnlineDO" >
    update t_tecent_online
    <set >
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="onlineNum != null" >
        online_num = #{onlineNum,jdbcType=BIGINT},
      </if>
      <if test="adjustNum != null" >
        adjust_num = #{adjustNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ds.zxm.model.TecentOnlineDO" >
    update t_tecent_online
    set time = #{time,jdbcType=VARCHAR},
      online_num = #{onlineNum,jdbcType=BIGINT},
      adjust_num = #{adjustNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>